{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ include('product_color/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_color_index') }}">Retour à la liste</a>

    {{ include('product_color/_delete_form.html.twig') }}
{% endblock %}
