{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout couleur de produit{% endblock %}

{% block body %}
    <h1>Ajouter un couleur assossiée</h1>

    {{ include('product_color/_form.html.twig') }}

    <a href="{{ path('app_product_color_index') }}">Retour à la Liste</a>
{% endblock %}
