{% extends 'base.html.twig' %}

{% block title %}New ProductColor{% endblock %}

{% block body %}
    <h1>Create new ProductColor</h1>

    {{ include('product_color/_form.html.twig') }}

    <a href="{{ path('app_product_color_index') }}">back to list</a>
{% endblock %}
