    /**
        card product
    */
    
    .list-swatches {
        display: inline-block;
        font-size: 0;
        letter-spacing: 0;
        list-style: none;
        height: 12px;
        padding: 0;
    }
    
    .list-swatches .swatch {
        border-radius: 50%;
        display: block;
        height: 20px;
        overflow: hidden;
        text-indent: -9999px;
        width: 20px;
    }
    
    .joum-product-item a,
    a {
        text-decoration: none;
    }
    
    .joum-product-item a,
    .link {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        text-transform: none;
    }
    
    .list-swatches .item {
        display: inline-block;
        margin: 0 4px 0 0;
    }
    
    .joum-product-item li {
        text-align: -webkit-match-parent;
    }
    
    strong {
        font-weight: bold;
    }
    
    .joum-product-item .item-details {
        box-sizing: border-box;
        position: relative;
        text-align: left;
        z-index: 1;
    }
    
    .card {
        overflow: hidden;
    }
    
    .imgCard {
        min-width: 200px;
        height: 400px;
    }
    
    .joum-product-item .item-price .price {
        display: inline;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 20px;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .joum-product-item .item-image {
        height: auto;
        position: relative;
        /* width: 100%; */
        border: 0;
    }
    
    .contener-form {
        width: 600px;
        height: auto;
        margin: 20px;
        margin-left: 30%;
        justify-content: center;
        border: solid;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgb(97, 96, 96);
    }
    /* .joum-product-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;s
    } */
    /**
            page show
    */
    /*********loop***********/
    /* .boxImg {
        margin: 0;
        min-height: 100vh;
        cursor: none;
    }
    
    #loupe {
        width: 100px;
        height: 100px;
        border: solid 3px #fff;
        border-radius: 150px;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    } */
    /* .liste {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } */