<form method="post" action="{{ path('app_product_cut_delete', {'id':productcut.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productcut.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
