{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_color_index') }}">Retour à la liste</a>
{% endblock %}
