<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link
		rel="stylesheet" href="{{ asset('css/menuPrincipal.css')}}"/>
		{# fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Updock&display=swap" rel="stylesheet">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}

			{{ encore_entry_link_tags('app') }}

		{% endblock %}


	</head>
	<body>
		{# menu de recherch #}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
						<li class="nav-item">
							<a class="nav-link" href="#">Connection</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Déconnection</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Administration</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		{# div logo #}
		<div class='logo text-center mb-2 mt-2'><img src="{{ asset('img/logo.png')}}" width="300"/></div>
		{# menu principal #}
		<nav id='second_nav' class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
			<a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">MegaMenu</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarContent" class="collapse navbar-collapse">
				<ul class="navbar-nav mx-auto">

					<li class="nav-item dropdown megamenu">
						<a id="megamneu" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">E-shop</a>
						<div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
							<div class="container" id='caintenermegamneu'>
								<div class="row bg-white rounded-0 m-0 shadow-sm">
									<div class="col-lg-7 col-xl-8">
										<div class="p-4">
											<div class="row">
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading one</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading two</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading three</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading four</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Accueil</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown megamenu">
						<a id="megamneu" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">E-shop</a>
						<div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
							<div class="container" id='caintenermegamneu'>
								<div class="row bg-white rounded-0 m-0 shadow-sm">
									<div class="col-lg-7 col-xl-8">
										<div class="p-4">
											<div class="row">
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading one</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading two</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading three</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Home</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<h6 class="font-weight-bold text-uppercase">Heading four</h6>
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Accueil</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">About</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Help</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0 ">Account</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link font-weight-bold text-uppercase">À propos</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link font-weight-bold text-uppercase">Contact</a>
					</li>
				</ul>
			</div>
		</nav>


		{% block body %}{% endblock %}
		<footer>
			<div class="container-fluid-footer bg-dark">
				<div class="row mt-5 mb-5 ">
					<section id="sale-section  text-center" class="pt-5">
						<h2 class='text-center h_session'>Les collections</h2>
						<div class="text-center">
							<p class="ph2"><img src="https://promissa.fr/wp-content/themes/promissa/img/fleur_decouvrir.svg" class="fleur-l"></p>
						</div>
					</section>
				</div>
				<div class="row mt-5 mb-5 ">
					<div class="col-lg-6 col-md-12 col-ms-12 text-center text-white">
						<div class="mb-5">
							<h2>Notre Catalogue</h2>
							<ul class="list-group list-group-flush bg-dark">
								<li class="list-group-item bg-dark text-white">Robe mariée</li>
								<li class="list-group-item bg-dark text-white">E-shop</li>
								<li class="list-group-item bg-dark text-white">Location</li>
							</ul>
						</div>
						<div>
							<h2>À PROPOS DE NOUS</h2>
							<ul class="list-group list-group-flush">
								<li class="list-group-item bg-dark text-white">Mentions Légales</li>
								<li class="list-group-item bg-dark text-white">12 rue du faubourg
									<br>
									saint martin 75010 paris</li>
								<li class="list-group-item bg-dark text-white">01.25.65.45.36</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-ms-12 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.07360639283!2d2.416745615047427!3d48.81865701145862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672fcbc7efa2f%3A0x8ba7fc57019657ed!2s12%20Rue%20de%20Paris%2C%2094220%20Charenton-le-Pont!5e0!3m2!1sfr!2sfr!4v1653341290217!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				
			{# reseaux sociaux #}
			<div class="container-fluide text-center">
				<ul class="wrapper">
					<li class="icon facebook">
						<span class="tooltip">Facebook</span>
						<span>
							<i class="fab fa-facebook-f"></i>
						</span>
					</li>
					<li class="icon twitter">
						<span class="tooltip">Twitter</span>
						<span>
							<i class="fab fa-twitter"></i>
						</span>
					</li>
					<li class="icon instagram">
						<span class="tooltip">Instagram</span>
						<span>
							<i class="fab fa-instagram"></i>
						</span>
					</li>
					<li class="icon youtube">
						<span class="tooltip">Youtube</span>
						<span>
							<i class="fab fa-youtube"></i>
						</span>
					</li>
				</ul>
			</div>
            </div>
			</div>
		</footer>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
