<div class="col-lg-12 text-center mt-3 mb-2 ps-5">
	<ul id="progressbar" class="ms-5">
		<li class="active" id="step1">
			<strong>Livraison
			</strong>
		</li>
		<li id="step2" class="">
			<strong>Paiement
			</strong>
		</li>
		<li id="step3" class="">
			<strong>Terminer</strong>
		</li>
	</ul>
</div>
